$primary: rgb(0, 255, 255);

.star {
    position: absolute;
    left: 30%;
    top: 50%;
    height: 4px;
    width: 100px;
    background: linear-gradient(-45deg, $primary, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px $primary);
    animation: tail 2s ease-in-out infinite, falling 1s ease-in-out infinite;
}

@keyframes tail {
    0%{
        width: 0px;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}
@keyframes falling {
    0%{
        transform: translateX(0);
    }
    100% {
        transform: translateX(300px);
    }
}
.star::before, .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: 0;
    height: 4px;
    width: 39px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), $primary, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;
}
.star::after {
    transform: translateX(50%) rotateZ(-45deg);;
}

@keyframes shining {
    0%{
        width: 0px;
    }
    50%{
        width: 30px;
    }
    100% {
        width: 0;
    }
}