@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.Archive {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    top: 50px;
}
.Archive h3 {
    font-family: 'Righteous';
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}
.Archive span {
    color: rgb(0, 255, 255);
    font-family: 'Righteous';
    font-size: 14px;
}
.Archive p {
    color: #fff;
    font-family: 'Open Sans';
    margin-top: 10px;
    position: relative;
    line-height: 25px;
}
.ArchivePost {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-top: 10px;
    border-left: 1px solid rgb(0, 255, 255);
    border-top: 1px solid rgb(0, 255, 255);
    position: relative;
}
.PostWrap {
    width: 100%;
}
.Thumbnail {
    display: none;
}
@media(min-width: 760px){
    .Archive {
        width: 60%;
    }
    .Archive h3 {
        font-size: 24px;
    }
    .Archive p {
        line-height: 28px;
    }
    .Post {
        margin-bottom: 50px;
    }.PostWrap{
        width: 70%;
        display: inline-block;
        position: absolute;
    }
    .Thumbnail {
        width: 28%;
        height: 100%;
        display: inline-block;
        margin-right: 2%;
    }
}